

.wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    box-shadow: 3px 0px 10px rgba(228, 228, 228, 0.827);
    z-index: 20;
}
.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    border-bottom: 1px solid rgb(177, 177, 177);
}
.leftTopNav{
    display: flex;
    align-items: center;

    column-gap: 5px;
}
.leftTopNav svg{
    color: yellow;
    background-color: rgb(28, 154, 28);
    padding: 7px;
    font-size: 30px;
    border-radius: 100%;
}
.leftTopNav svg:hover{
    cursor: pointer;
}
.leftTopNav p{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
}
.rightTopNav{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.rightTopNav svg{
    font-size: 18px;
    color: black;
}
.rightTopNav svg:hover{
    cursor: pointer;
}

.bottomNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    position: relative;
}
.leftBottomNav{
    display: flex;
    column-gap: 50px;
    align-items: center;
}
.leftBottomNav .link{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.leftBottomNav .link:hover{
    cursor: pointer;
}
.leftBottomNav a{
    text-decoration: none;
    color: black;
}
.leftBottomNav .link svg{
    font-size: 18px;
}
.leftBottomNav .link:nth-child(1) svg{
    color: rgb(168, 168, 0);
}
.leftBottomNav .link:nth-child(2) svg{
    color: green;
}
.leftBottomNav .link:nth-child(3) svg{
    color: red;
}

.rightBottomNav svg{
    color: green;
    font-size: 30px;
}
.rightBottomNav svg:hover{
    cursor: pointer;
}
.toggleCard{
    position: absolute;
    right: 60px;
    top: 45px;
    width: fit-content;
    height: fit-content;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    z-index: 50;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(221, 221, 221);
    border-radius: 5px;
}
.hide{
    display: none;
}
.toggleCard .wrap{
    display: flex;
    flex-direction: column;
}

.toggleCard a{
    padding: 8px 20px;
    color: black;
    text-decoration: none;
}
.toggleCard a:hover{
    padding: 8px 20px;
    color: rgb(28, 135, 243);
    text-decoration: none;
}
.toggleCard a:nth-child(1){
    border-bottom: 1px solid rgb(189, 189, 189);
}

@media(max-width: 1300px){
    .topNav{
        padding: 10px 40px;
    }
    .toggleCard{
        right: 40px;
    }
    .bottomNav{
        padding: 10px 40px;
    }
}
@media(max-width: 800px){
    .topNav{
        padding: 10px 20px;
    }
    .toggleCard{
        right: 20px;
    }
    .bottomNav{
        padding: 10px 20px;
    }
    .leftBottomNav{
        column-gap: 30px;
    }
    .leftBottomNav .link{
        flex-direction: column;
        row-gap: 0px;
    }
    .leftBottomNav .link p{
        font-size: 13px;
    }

}
@media(max-width: 500px){
    .leftTopNav svg{
        font-size: 28px;
        padding: 5px;
    } 
    .rightBottomNav svg{
        font-size: 25px;
    }
    .toggleCard{
        font-size: 14px;
        padding: 5px 0;
    }
}
@media(max-width: 400px){
    .topNav{
        padding: 10px;
    }
    .toggleCard{
        right: 10px;
    }
    .bottomNav{
        padding: 10px;
    }
}