.nav{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.logo svg{
    color: yellow;
    background-color: rgb(28, 154, 28);
    padding: 10px;
    font-size: 25px;
    border-radius: 100%;
}
.logo p{
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;
}

.buttons{
    display: flex;
    column-gap: 12px;
    align-items: center;
}
.buttons button{
    background-color: rgb(28, 154, 28);
    color: white;
    border-radius: 4px;
    border: 0px;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
}
.buttons button:hover{
    cursor: pointer;
    color: yellow;
    transition: 500ms;
}

@media(max-width: 1300px){
    .buttons button{
        font-size: 13px;
    }
    .logo svg{
        font-size: 20px;
    }
    .logo p{
        font-size: 18px;
    }
}
@media(max-width: 1000px){
    .nav{
        padding: 20px 50px;
    }
}
@media(max-width: 650px){
    .buttons{
        display: none;
    }
}
@media(max-width: 1500px){
    .nav{
        padding: 20px 20px;
    }
}