.settingsWrapper{
    background-color: whitesmoke;
    margin-top: 100px;
    margin-right: 25%;
    height: fit-content;
    min-height: 86vh;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.settingsWrapper form{
    display: flex;
    row-gap: 20px;
    column-gap: 4%;
    flex-wrap: wrap;
}
.settingsWrapper .inputWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    width: 48%;

}
.settingsWrapper input{
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid rgb(122, 122, 122);
}

.settingsWrapper button{
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(21, 135, 21);
    color: white;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 7px 15px rgba(11, 84, 11, 0.249);
}
.settingsWrapper button:hover{
    cursor: pointer;
    color: yellow;
    transition: 500ms;
}
.accountWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.passwordWrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.settingsWrapper h1{
    font-weight: 500;
    font-size: 30px;
}
.passwordWrapper button{
    margin-top: 14px;
}

@media(max-width: 1300px){
    .settingsWrapper{
        margin-right: 30%;
    }
}
@media(max-width: 1000px){
    .settingsWrapper{
        margin-right: 0;
        padding: 50px 40px;
    }
}
@media(max-width: 800px){

    .settingsWrapper{
        padding: 40px 20px;
    }
}
@media(max-width: 600px){
    .settingsWrapper h1{
        font-size: 25px;
    }
    .settingsWrapper{
        padding: 40px 20px;
    }
    .settingsWrapper .inputWrapper{
        font-size: 14px;
    }
    .settingsWrapper button{
        font-size: 14px;
    }
}
@media(max-width: 500px){
    .settingsWrapper h1{
        font-size: 22px;
    }
    .settingsWrapper .inputWrapper{
        width: 100%;
        font-size: 14px;
    }
}
@media(max-width: 400px){
    .settingsWrapper{
        padding: 40px 10px;
    }
    .settingsWrapper .inputWrapper{
        width: 100%;
        font-size: 14px;
    }
}